<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title-head %}ToDo List{% endblock title-head %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'todoList/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'todoList/icons/bootstrap-icons.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
    <nav>
    {% block menu %}
        <ul>
            <li><a href="{% url 'task-list' %}"><i class="bi bi-list-task"></i> Tasks</a></li>
            <li class="sub-menu"><a href="{% url 'task-list' %}?date=today">Today</a></li>
            <li class="sub-menu"><a href="{% url 'task-list' %}?date=week">This week</a></li>
            <li><a href="{% url 'tag-list' %}"><i class="bi bi-tags"></i> Tags</a></li>
        </ul>
    {% endblock menu %}
    </nav>
    {% block floating-button %}
        <a class="floating add" 
            href="{% block floating-btn-url %}{% url 'tag-create' %}{% endblock floating-btn-url %}"
            ><span>+</span></a>
    {% endblock floating-button %}
    <div class="header">
        <span class="title">{% block title %}Tasks{% endblock title %}</span>
    </div>
    <div id="content" class="content">
        {% block content %}
        {% endblock content %}
    </div>
    </body>
</html>