<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title-head %}ToDo List{% endblock title-head %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'todoList/css/style.css' %}">
    </head>
    <body>
    <h1>{% block title %}ToDo List{% endblock title %}</h1>
    <nav>
    {% block menu %}
        <a href="{% url 'add-task' %}">Add</a>
    {% endblock menu %}
    </nav>
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
    </body>
</html>