{% extends 'todoList/main.html' %}
{% load static %}
{% block content %}
<div class="header">
    <a href="?showCompleted={% if showCompleted %}false{% else %}true{% endif %}{{queryParam}}">{% if showCompleted == False %}Show Completed{% else %}Hide Completed{% endif %}</a>
    <form action="" method="GET">
        <label for="query">Filter: </label>
        <input type="text" name="q" id="query" value="{{queryParam|cut:"&q="}}">
        {% if showCompleted %}
            <input type="hidden" name="showCompleted" value="true">
        {% endif %}
        <input type="submit">
    </form>
    <a href="?{{showCompletedParam|cut:"&"}}">Clear filter</a>
</div>
<ul class="task-list content">
    {% for task in page %}
    <li class="task {%if task.completed %}completed{%endif%}">
        {% spaceless %}
        <a class="complete" 
            href="{% url 'task-complete' task.id %}{% if task.completed %}?complete=false{% endif %}">
            <span class="icon {% if task.completed %}completed{% endif %}">&nbsp;</span>
        </a>
        {% endspaceless %}
        {% spaceless %}
        <a class="task-link" href="{% url 'detail' task.id %}">
            <span class="task-title {%if task.completed %}completed{%endif%}">{{ task.task_title }}</span>
            <span class="due-date">{{ task.due_date | date:"d.m.Y H:i"}}</span>
        </a>
        {% endspaceless %}
    </li>
    {% endfor %}
</ul>

{% if page.paginator.num_pages > 1 %}
<span class="page-links footer">
    {% if page.has_previous %}
        <a href="?page=1{{showCompletedParam}}{{queryParam}}">&laquo; first</a>
        <a href="?page={{page.previous_page_number}}{{showCompletedParam}}{{queryParam}}">previous</a>
    {% endif %}
    <span class="current">
        Page {{page.number}} of {{page.paginator.num_pages}}
    </span>
    {% if page.has_next %}
        <a href="?page={{page.next_page_number}}{{showCompletedParam}}{{queryParam}}">next</a>
        <a href="?page={{page.paginator.num_pages}}{{showCompletedParam}}{{queryParam}}">last &raquo;</a>
    {% endif %}
</span>
{% endif %}
{% endblock content %}