{% extends 'todoList/main.html' %}
{% load static %}
{% block content %}
<ul class="task_list">
    {% for task in tasks %}
    <li class="task {%if task.completed %}completed{%endif%}">
        {% spaceless %}
        <a class="complete" 
            href="{% url 'task-complete' task.id %}{% if task.completed %}?complete=false{% endif %}">
            <span class="icon">&nbsp;</span>
        </a>
        {% endspaceless %}
        {% spaceless %}
        <a href="{% url 'detail' task.id %}">
        <span class="task_title {%if task.completed %}completed{%endif%}">{{ task.task_title }}</span>
        &nbsp;
        <span class="due_date">{{ task.due_date | date:"d.m.Y"}}</span>
        </a>
        {% endspaceless %}
    </li>
    {% endfor %}
</ul>
{% endblock content %}