a{
    color: black;
}
ul.task_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 1000px;
}
ul li{
    overflow: visible;
}
.task.completed{
    color: grey;
}
.task .complete{
    width: 50px;
    color: blue;
    margin-right: 20px;
}