body{
    font-family: 'Roboto', sans-serif;
}
.bold{
    font-weight: bold;
}
.button{
    text-decoration: none;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #005dd6;
    color: white;
    cursor: pointer;
}
.button:hover{
    background-color: #3f89eb;
}

/* 
 * Navigation
 */
nav{
    background-color: #e9ecf5;
}
nav ul{
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    align-content: flex-start;
}
nav ul li{
    display: block;
    border-radius: 10px;
    padding: 15px 10px;
    font-weight: bold;
}
nav ul li.sub-menu{
    border: none;
    margin-left: 25px;
    font-size: 0.9rem;
    padding: 10px 5px;
    font-weight: normal;
    background-color: initial;
}
nav a{
    display: inline-block;
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: #4e4e4e;
}
nav i.bi{
    font-size: 1.3rem;
}

/*
 * Styling of main.html
 */

body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "nav"
        "header"
        "content"
        "footer";
}

#content{
    padding: 10px 20px;
}

.floating{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #005dd6;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 3px #999;
    text-align: center;
    text-decoration: none;
}
.floating span{
    line-height: 50px;
    margin-top: 22px;
    font-size: 30px;
}

body > .header{
    margin-top: 30px;
}

@media only screen and (min-width: 786px){
    body{
        grid-template-columns: 20vw auto 20vw;
        grid-template-rows: auto;
        grid-template-areas: 
            ". header ."
            ". content ."
            ". footer .";
    }

    nav a{
        display: inline;
        text-align: left;
    }

    nav{
        position: fixed;
        width: 20vw;
        height: 100vh;
        margin: 0;
    }
    .floating{
        right: calc(20vw + 20px);
    }
}
.header{
    grid-area: header;
}

#content{
    grid-area: content;
}

.footer{
    grid-area: footer;
}

nav{
    grid-area: nav;
}

a{
    color: black;
}

/*
 * Header styling
 */
body > .header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > .header .title{
    font-size: 2em;
}

/*
 * Task list style
 */
ul.task-list{
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

/* Task list rows */
ul.task-list li{
    overflow: visible;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 3px 0px;
    background-color: #e9ebf3;
}
ul.task-list li a{
    text-decoration: none;
    vertical-align: middle;
}
.task.completed{
    background-color: #dddddd;
    text-decoration: line-through;
}


/*
 * Styling of each row
 * - complete icon first
 * - rest of the row is task
 */
.task{
    display: flex;
    align-items: center;
}

.task.due{
    background-color: #f5e4e4;
}

.task-link{
    width: 100%;
}

.task .task-title{
    font-size: 1.2em;
}

.task .due-date{
    display: block;
    font-size: 0.8em;
    margin-bottom: 3px;
}

.due{
    color: #cc0000;
    font-weight: bold;
}
.task .due-date i{
    padding-bottom: 2px;
}

/*
 * Complete icon styling
 */
.complete{
    margin-right: 15px;
}
.complete span.icon{
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    vertical-align: middle;
    background-image: url("../svg/circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* Complete icon animation when hover */
.complete span.icon:hover{
    animation: iconCheckCircle 0.3s ease-in;
    animation-fill-mode: forwards;
    /* background-image: url("../svg/check-circle.svg"); */
}
.complete span.icon.completed{
    background-image: url("../svg/check-circle.svg");
}
.complete span.icon.completed:hover{
    animation: iconCircle 0.3s ease-in;
    animation-fill-mode: forwards;
    /* background-image: url("../svg/circle.svg"); */
}
@keyframes iconCircle {
    100% { background-image: url("../svg/circle.svg"); }
  }
@keyframes iconCheckCircle {
100% { background-image: url("../svg/check-circle.svg"); }
}

/*
 * Edit Icon
 */
.task-edit span.icon{
    display: inline-block;
    background-image: url("../svg/edit.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 0.8em;
    height: 0.8em;
}
.task-edit{
    margin-left: 15px;
    vertical-align: middle;
}

/*
 * Delete Icon
 */
 .task-delete span.icon{
    display: inline-block;
    background-image: url("../svg/delete.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 0.8em;
    height: 0.8em;
}
.task-delete{
    margin-left: 15px;
    vertical-align: middle;
}

/*
 * Task detail
 */

.task-detail h2{
    font-weight: normal;
}
.task-detail h3{
    font-weight: normal;
}

/*
 * Tags
 */
.tag-color{
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    border: 1px solid black;
    margin-right: 3px;
}
.tag{
    display: inline-block;
    padding: 2px 5px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 1px 2px;
    font-size: 0.9em;
}

.tags{
    margin: 10px 0;
}

/*
 * Delete screen
 */
.banner{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner + *{
    font-size: 2.5em;
    font-weight: normal;
}
.banner form{
    display: inline-block;
}
.buttons .button{
    text-decoration: none;
    border: none;
    padding: 20px 30px;
    font-size: 2em;
    border-radius: 10px;
    box-shadow: 5px 5px;
    margin: 20px;
    cursor: pointer;
}
.buttons .button.back{
    background-color: #23a523;
    color: white;
}
.buttons .button.back:hover{
    background-color: #28bb28;
}
.buttons .button.delete{
    background-color: #a52323;
    color: white;
}
.buttons .button.delete:hover{
    background-color: #d42222;
}

/*
 * Tag list
 */
.tag-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.tag-list .tag{
    border: none;
    font-size: 1.1em;
}
.tag-list li{
    display: block;
    margin: 10px 0;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #e2eef3;
}

.tag-list a{
    text-decoration: none;
}
.tag-list i.bi{
    font-size: 1.2rem;
    margin: 0 5px;
}