{% extends 'todoList/forms/inputForm.html' %}
{% block additionalFormInputs %}
    <div class="tags">
        {% for tag in tags %}
            <span class="tag">
                <input type="checkbox" id="tag-{{tag.id}}" name="tag" value="{{tag.id}}">
                <label for="tag-{{tag.id}}">
                    <span class="tag-color" style="background-color:{{tag.tag_color}}">&nbsp;</span>
                    {{tag.tag_name}}
                </label>
            </span>
        {% endfor %}
    </div>
{% endblock additionalFormInputs %}